<div class="container-fluid" ng-controller="jobpost" ng-cloak>
    <h3>Post New Job</h3>
        <form name="myForm" class="form-horizontal " method="POST" enctype="multipart/form-data" ng-submit="onSubmit();" >
            <div class="col-md-4">
                   <div class="form-group">
                        <label class="col-sm-4 textchange" for="sel1" >Sector list:</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="sector" ng-model="Jobpost.sectortype" ng-dropdown required title="Choose one of the following..." ng-change="selection()">
                            <option value="" disabled="disabled" selected="selected">select</option>
                            <option ng-option value="privateSector">private Sector</option>
                            <option ng-option value="GovernmentSector">Government Sector</option>
                            </select>
                        </div>
                </div><br> 
                  <!-- Job Title-->
                <div  ng-if="Jobpost.sectortype == 'privateSector'">
                    <div class="form-group">
                        <label class="col-sm-4 textchange" for="sel1" >Job Title:</label>
                        <div class="col-sm-8">
                        <input type="text" class="form-control" name="jobtitle" placeholder="Job Title" ng-model="Jobpost.job_title" required>
                        </div>     
                    </div> 
                    <span ng-show="myForm.myName.$dirty && myForm.myName.$invalid" style="color:red">
                        <span ng-show="myForm.myName.$error.required">Name is Required</span>
                    </span><br>
                    <!-- Company Name-->                      
                    <div class="form-group">
                        <label class="col-sm-4 textchange" for="sel1">Company Name:</label>
                            <div class="col-sm-8">
                                <input type="text" list="browsers" class="form-control" name="myName" placeholder="Company Name" ng-model="Jobpost.company_name" required>
                                <datalist id="browsers">
                                    <option value="Internet Explorer">
                                    <option value="Firefox">
                                    <option value="Chrome">
                                    <option value="Opera">
                                    <option value="Safari">
                                </datalist>
                            </div>
                    </div>
                    <span ng-show="myForm.myName.$dirty && myForm.myName.$invalid" style="color:red">
                        <span ng-show="myForm.myName.$error.required">Name is Required</span>
                    </span><br>
                     <!--Work Experiance-->  
                    <div class="form-group"> 
                        <label class="col-sm-4 textchange"  for="sel1">Work Experiance:</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="sector" ng-model="Jobpost.Experiance" ng-dropdown required           title="Choose one of the following..." ng-change="selection()">
                                    <option value="" disabled="disabled" selected="selected">select</option>
                                    <option ng-option value="0-1">0-1</option>
                                    <option ng-option value="1-2">1-2</option>
                                    <option ng-option value="2-3">2-3</option>
                                    <option ng-option value="3-4">3-4</option>
                                    <option ng-option value="4-5">4-5</option>
                                    <option ng-option value="5-6">5-6</option>
                                    <option ng-option value="6-7">6-7</option>
                                    <option ng-option value="7-8">7-8</option>
                                    <option ng-option value="8-9">8-9</option>
                                    <option ng-option value="9-10">9-10</option>
                                    <option ng-option value="10-11">10-11</option>
                                    <option ng-option value="11-12">11-12</option>
                                    <option ng-option value="12-13">12-13</option>
                                    <option ng-option value="13-14">13-14</option>
                                    <option ng-option value="14-15">14-15</option>
                                </select>
                            </div>
                    </div><br>
                     <!--Job Location--> 
                    <div class="form-group">
                        <label class="col-sm-4 textchange" for="sel1">Job Location:</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="sector" ng-model="Jobpost.location" ng-dropdown required           title="Choose one of the following..." ng-change="selection()">
                                <option value="" disabled="disabled" selected="selected">select</option>
                                <option disabled="disabled" style="background-color:#3E3E3E"><font color="#000000"><i>-Top Metropolitan Cities-</i></font></option>
                                <option ng-option value="Ahmedabad">Ahmedabad</option> 
                                <option ng-option value="Bengaluru/Bangalore">Bengaluru/Bangalore</option>
                                <option ng-option value="Chandigarh">Chandigarh</option>
                                <option ng-option value="Chennai">Chennai</option>
                                <option ng-option value="Delhi">Delhi</option>
                                <option ng-option value="Gurgaon">Gurgaon</option>
                                <option ng-option value="Hyderabad/Secunderabad">Hyderabad/Secunderabad</option>
                                <option ng-option value="Kolkatta">Kolkatta</option>
                                <option ng-option value="Mumbai">Mumbai</option>
                                <option ng-option value="Noida">Noida</option>
                                <option ng-option value="Pune">Pune</option>
                                <option disabled="disabled"  ng-option value="Andhra Pradesh" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Andhra Pradesh-</i></font></option>
                                <option ng-option value="Anantapur">Anantapur</option>
                                <option ng-option value="Guntakal">Guntakal</option>
                                <option ng-option value="Guntur">Guntur</option>
                                <option ng-option value="kakinada">kakinada</option>
                                <option ng-option value="kurnool">kurnool</option>
                                <option ng-option value="Nellore">Nellore</option>
                                <option ng-option value="Nizamabad">Nizamabad</option>
                                <option ng-option value="Rajahmundry">Rajahmundry</option>
                                <option ng-option value="Tirupati">Tirupati</option>
                                <option ng-option value="Vijayawada">Vijayawada</option>
                                <option ng-option value="Visakhapatnam">Visakhapatnam</option>
                                <option ng-option value="Warangal">Warangal</option>
                                <option ng-option value="Andra Pradesh-Other">Andra Pradesh-Other</option>
                                <option disabled="disabled" ng-option value="Arunachal Pradesh"style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Arunachal Pradesh-</i></font></option>
                                <option ng-option value="Itanagar">Itanagar</option>
                                <option ng-option value="Arunachal Pradesh-Other">Arunachal Pradesh-Other</option>
                                <option disabled="disabled"  ng-option value="Assam" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Assam-</i></font></option>
                                <option ng-option value="Guwahati">Guwahati</option>
                                <option ng-option value="Silchar">Silchar</option>
                                <option ng-option value="Assam-Other">Assam-Other</option>
                                <option disabled="disabled" style="background-color:#3E3E3E" ng-option value="Bihar"><font color="#FFFFFF"><i>-Bihar-</i></font></option>
                                <option ng-option value="Bhagalpur">Bhagalpur</option>
                                <option ng-option value="Patna">Patna</option>
                                <option ng-option value="Bihar-Other">Bihar-Other</option>
                                <option disabled="disabled" style="background-color:#3E3E3E" ng-option value="Chhattisgarh"><font color="#FFFFFF"><i>-Chhattisgarh-</i></font></option>
                                <option ng-option value="Bhillai">Bhillai</option>
                                <option ng-option value="Bilaspur">Bilaspur</option>
                                <option ng-option value="Raipur">Raipur</option>
                                <option ng-option value="Chhattisgarh-Other">Chhattisgarh-Other</option>
                                <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Goa-</i></font></option>
                                <option ng-option value="Panjim/Panaji">Panjim/Panaji</option>
                                <option ng-option value="Vasco Da Gama">Vasco Da Gama</option>
                                <option ng-option value="Goa-Other">Goa-Other</option>
                                <option ng-option value="Gujarat" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Gujarat-</i></font></option>
                                <option ng-option value="Anand">Anand</option>
                                <option ng-option value="Ankleshwar">Ankleshwar</option>
                                <option ng-option value="Bharuch">Bharuch</option>
                                <option ng-option value="Bhavnagar">Bhavnagar</option>
                                <option ng-option value="Bhuj">Bhuj</option>
                                <option ng-option value="Gandhinagar">Gandhinagar</option>
                                <option ng-option value="Gir">Gir</option>
                                <option ng-option value="Jamnagar">Jamnagar</option>
                                <option ng-option value="Kandla">Kandla</option>
                                <option ng-option value="Porbandar">Porbandar</option>
                                <option ng-option value="Rajkot">Rajkot</option>
                                <option ng-option value="Surat">Surat</option>
                                <option ng-option value="Vadodara/Baroda">Vadodara/Baroda</option>
                                <option ng-option value="Valsad">Valsad</option>
                                <option ng-option value="Vapi">Vapi</option>
                                <option ng-option value="Gujarat-Other">Gujarat-Other</option>
                                <option ng-option value="Haryana" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Haryana-</i></font></option>
                                <option ng-option value="Ambala">Ambala</option>
                                <option ng-option value="Chandigarh">Chandigarh</option>
                                <option ng-option value="Faridabad">Faridabad</option>
                                <option ng-option value="Gurgaon">Gurgaon</option>
                                <option ng-option value="Hisar">Hisar</option>
                                <option ng-option value="Karnal">Karnal</option>
                                <option ng-option value="Kurukshetra">Kurukshetra</option>
                                <option ng-option value="Panipat">Panipat</option>
                                <option ng-option value="Rohtak">Rohtak</option>
                                <option ng-option value="Haryana-Other">Haryana-Other</option>
                                <option ng-option value="Himachal Pradesh" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Himachal Pradesh-</i></font></option>
                                <option ng-option value="Dalhousie">Dalhousie</option>
                                <option ng-option value="Dharmasala">Dharmasala</option>
                                <option ng-option value="Kulu/Manali">Kulu/Manali</option>
                                <option ng-option value="Shimla">Shimla</option>
                                <option ng-option value="Himachal Pradesh-Other">Himachal Pradesh-Other</option>
                                <option disabled="disabled" ng-option value="Jammu and Kashmir" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Jammu and Kashmir-</i></font></option>
                                <option ng-option value="Jammu">Jammu</option>
                                <option ng-option value="Srinagar">Srinagar</option>
                                <option ng-option value="Jammu and Kashmir-Other">Jammu and Kashmir-Other</option>
                                <option ng-option value="Jharkhand" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Jharkhand-</i></font></option>
                                <option ng-option value="Bokaro" >Bokaro</option>
                                <option ng-option value="Dhanbad">Dhanbad</option>
                                <option ng-option value="Jamshedpur">Jamshedpur</option>
                                <option ng-option value="Ranchi">Ranchi</option>
                                <option ng-option value="Jharkhand-Other">Jharkhand-Other</option>
                                <option ng-option value="Karnataka" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Karnataka-</i></font></option>
                                <option ng-option value="Bengaluru/Bangalore">Bengaluru/Bangalore</option>
                                <option ng-option value="Belgaum">Belgaum</option>
                                <option ng-option value="Bellary">Bellary</option>
                                <option ng-option value="Bidar">Bidar</option>
                                <option ng-option value="Dharwad">Dharwad</option>
                                <option ng-option value="Gulbarga">Gulbarga</option>
                                <option ng-option value="Hubli">Hubli</option>
                                <option ng-option value="Kolar">Kolar</option>
                                <option ng-option value="Mangalore">Mangalore</option>
                                <option ng-option value="Mysoru/Mysore">Mysoru/Mysore</option>
                                <option ng-option value="Karnataka-Other">Karnataka-Other</option>
                                <option ng-option value="Kerala" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Kerala-</i></font></option>
                                <option ng-option value="Calicut">Calicut</option>
                                <option ng-option value="Cochin">Cochin</option>
                                <option ng-option value="Ernakulam">Ernakulam</option>
                                <option ng-option value="Kannur">Kannur</option>
                                <option ng-option value="Kochi">Kochi</option>
                                <option ng-option value="Kollam">Kollam</option>
                                <option ng-option value="Kottayam">Kottayam</option>
                                <option ng-option value="Kozhikode">Kozhikode</option>
                                <option ng-option value="Palakkad">Palakkad</option>
                                <option ng-option value="Palghat">Palghat</option>
                                <option ng-option value="Thrissur">Thrissur</option>
                                <option ng-option value="Trivandrum">Trivandrum</option>
                                <option ng-option value="Kerela-Other">Kerela-Other</option>
                                <option ng-option value="Madhya Pradesh" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Madhya Pradesh-</i></font></option>
                                <option ng-option value="Bhopal">Bhopal</option>
                                <option ng-option value="Gwalior">Gwalior</option>
                                <option ng-option value="Indore">Indore</option>
                                <option ng-option value="Jabalpur">Jabalpur</option>
                                <option ng-option value="Ujjain">Ujjain</option>
                                <option ng-option value="Madhya Pradesh-Other">Madhya Pradesh-Other</option>
                                <option ng-option value="Maharashtra" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Maharashtra-</i></font></option>
                                <option ng-option value="Ahmednagar">Ahmednagar</option>
                                <option ng-option value="Aurangabad">Aurangabad</option>
                                <option ng-option value="Jalgaon">Jalgaon</option>
                                <option ng-option value="Kolhapur">Kolhapur</option>
                                <option ng-option value="Mumbai">Mumbai</option>
                                <option ng-option value="Mumbai Suburbs">Mumbai Suburbs</option>
                                <option ng-option value="Nagpur">Nagpur</option>
                                <option ng-option value="Nasik">Nasik</option>
                                <option ng-option value="Navi Mumbai">Navi Mumbai</option>
                                <option ng-option value="Pune">Pune</option>
                                <option ng-option value="Solapur">Solapur</option>
                                <option ng-option value="Maharashtra-Other">Maharashtra-Other</option>
                                <option ng-option value="Manipur" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Manipur-</i></font></option>
                                <option ng-option value="Imphal">Imphal</option>
                                <option ng-option value="Manipur-Other">Manipur-Other</option>
                                <option ng-option value="Meghalaya" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Meghalaya-</i></font></option>
                                <option ng-option value="Shillong">Shillong</option>
                                <option ng-option value="Meghalaya-Other">Meghalaya-Other</option>
                                <option ng-option value="Mizoram" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Mizoram-</i></font></option>
                                <option ng-option value="Aizawal">Aizawal</option>
                                <option ng-option value="Mizoram-Other">Mizoram-Other</option>
                                <option ng-option value="Nagaland" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Nagaland-</i></font></option>
                                <option ng-option value="Dimapur">Dimapur</option>
                                <option ng-option value="Nagaland-Other">Nagaland-Other</option>
                                <option ng-option value="Orissa"disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Orissa-</i></font></option>
                                <option ng-option value="Bhubaneshwar">Bhubaneshwar</option>
                                <option ng-option value="Cuttak">Cuttak</option>
                                <option ng-option value="Paradeep">Paradeep</option>
                                <option ng-option value="Puri">Puri</option>
                                <option ng-option value="Rourkela">Rourkela</option>
                                <option ng-option value="Orissa-Other">Orissa-Other</option>
                                <option ng-option value="Punjab" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Punjab-</i></font></option>
                                <option ng-option value="Amritsar">Amritsar</option>
                                <option ng-option value="Bathinda">Bathinda</option>
                                <option ng-option value="Chandigarh">Chandigarh</option>
                                <option ng-option value="Jalandhar">Jalandhar</option>
                                <option ng-option value="Ludhiana">Ludhiana</option>
                                <option ng-option value="Mohali">Mohali</option>
                                <option ng-option value="Pathankot">Pathankot</option>
                                <option ng-option value="Patiala">Patiala</option>
                                <option ng-option value="Punjab-Other">Punjab-Other</option>
                                <option ng-option value="Rajasthan" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Rajasthan-</i></font></option>
                                <option ng-option value="Ajmer">Ajmer</option>
                                <option ng-option value="Jaipur">Jaipur</option>
                                <option ng-option value="Jaisalmer">Jaisalmer</option>
                                <option ng-option value="Jodhpur">Jodhpur</option>
                                <option ng-option value="Kota">Kota</option>
                                <option ng-option value="Udaipur">Udaipur</option>
                                <option ng-option value="Rajasthan-Other">Rajasthan-Other</option>
                                <option ng-option value="Sikkim" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Sikkim-</i></font></option>
                                <option ng-option value="Gangtok">Gangtok</option>
                                <option ng-option value="Sikkim-Other">Sikkim-Other</option>
                                <option ng-option value="Tamil Nadu" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Tamil Nadu-</i></font></option>
                                <option ng-option value="Chennai">Chennai</option>
                                <option ng-option value="Coimbatore">Coimbatore</option>
                                <option ng-option value="Cuddalore">Cuddalore</option>
                                <option ng-option value="Erode">Erode</option>
                                <option ng-option value="Hosur">Hosur</option>
                                <option ng-option value="Madurai">Madurai</option>
                                <option ng-option value="Nagerkoil">Nagerkoil</option>
                                <option ng-option value="Ooty">Ooty</option>
                                <option ng-option value="Salem">Salem</option>
                                <option ng-option value="Thanjavur">Thanjavur</option>
                                <option ng-option value="Tirunalveli">Tirunalveli</option>
                                <option ng-option value="Trichy">Trichy</option>
                                <option ng-option value="Tuticorin">Tuticorin</option>
                                <option ng-option value="Vellore">Vellore</option>
                                <option ng-option value="Tamil Nadu-Other">Tamil Nadu-Other</option>
                                <option ng-option value="Tripura" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Tripura-</i></font></option>
                                <option ng-option value="Agartala">Agartala</option>
                                <option ng-option value="Tripura-Other">Tripura-Other</option>
                                <option ng-option value="Union Territories" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Union Territories-</i></font></option>
                                <option ng-option value="Chandigarh">Chandigarh</option>
                                <option ng-option value="Dadra & Nagar Haveli-Silvassa">Dadra & Nagar Haveli-Silvassa</option>
                                <option ng-option value="Daman & Diu">Daman & Diu</option>
                                <option ng-option value="Delhi">Delhi</option>
                                <option ng-option value="Pondichery">Pondichery</option>
                                <option ng-option value="Uttar Pradesh" disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Uttar Pradesh-</i></font></option>
                                <option ng-option value="Agra">Agra</option>
                                <option ng-option value="Aligarh">Aligarh</option>
                                <option ng-option value="Allahabad">Allahabad</option>
                                <option ng-option value="Bareilly">Bareilly</option>
                                <option >Faizabad</option>
                                <option>Ghaziabad</option>
                                <option>Gorakhpur</option>
                                <option>Kanpur</option>
                                <option>Lucknow</option>
                                <option>Mathura</option>
                                <option>Meerut</option>
                                <option>Moradabad</option>
                                <option>Noida</option>
                                <option>Varanasi/Banaras</option>
                                <option>Uttar Pradesh-Other</option>
                                <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Uttaranchal-</i></font></option>
                                <option>Dehradun</option>
                                <option>Roorkee</option>
                                <option>Uttaranchal-Other</option>
                                <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-West Bengal-</i></font></option>
                                <option>Asansol</option>
                                <option>Durgapur</option>
                                <option>Haldia</option>
                                <option>Kharagpur</option>
                                <option>Kolkatta</option>
                                <option>Siliguri</option>
                                <option>West Bengal - Other</option>
                                <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Other-</i></font></option>
                                <option>Other</option>
                            </select>
                             </div>
                        </div> <br>
                        <!-- Key Skills-->
                        <div class="form-group">
                            <label class="col-sm-4 textchange" for="sel1"> Key Skills:</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="sector" ng-model="Jobpost.keyskills" ng-dropdown required           title="Choose one of the following..." ng-change="selection()">
                                    <option value="" disabled="disabled" selected="selected">select</option>
                                    <option ng-option value="java">java</option>
                                    <option ng-option value="html">Html</option>
                                    <option ng-option value="css">css</option>
                                    <option ng-option value="Angularjs">Angularjs</option>
                                    <option ng-option value="Boostrap">Boostrap</option>
                                    <option ng-option value="javascript">javascript</option>
                                </select>
                             </div> 
                        </div><br>
                        <!-- salary-->
                        <div class="form-group">
                            <label class="col-sm-4 textchange" for="sel1">Salary:</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" placeholder="salary" name="salary" ng-model="Jobpost.salary" required>
                                </div>
                                <span ng-show="myForm.pswd.$dirty && myForm.pswd.$invalid" style="color:red">
                                    <span ng-show="myForm.pswd.$error.required">Password is required</span>
                                </span>
                        </div><br>
                        <!-- Description-->
                        <div class="form-group">
                            <label class="col-sm-4 textchange" for="sel1">Description:</label>
                            <div class="col-sm-8">
                                <textarea rows="5" class="form-control" placeholder="Job Role" name="email" ng-model="Jobpost.Description" required></textarea>
                            </div>
                        </div><br>
                         <!-- Email-->
                
                        <div class="form-group">
                        <label class="col-sm-4 textchange" for="sel1">Email:</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" placeholder="Email" name="email" ng-model="Jobpost.job_email" required>
                                <span ng-show="myForm.email.$dirty && myForm.email.$invalid" style="color:red">
                                    <span ng-show="myForm.email.$error.required">Email is Reqired</span>
                                </span>
                            </div>
                        </div><br> 
                         <!-- Expiery Date-->
                        <div class="form-group">
                            <label class="col-sm-4 textchange" for="sel1">Expiery Date:</label>
                            <div class="col-sm-8">
                                <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                            </div>
                        </div> <br>    
                         <!-- Selection Type interview ,Written test,off campus-->
                        <div class="form-group">
                            <label class="col-sm-4 textchange" for="sel1">Selection Type:</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="sector" ng-model="Jobpost.selectionType" ng-dropdown required           title="Choose one of the following..." ng-change="selection()">
                                    <option value="" disabled="disabled" selected="selected">select</option>
                                    <option ng-option value="Interview">Interview </option>
                                    <option ng-option value="Written test">Written test</option>
                                    <option ng-option value="off campus">off campus</option>
                                </select>
                            </div>
                     </div><br> 
                     <!--Conditional Statements-->
                    <div ng-if="Jobpost.selectionType == 'Interview'">
                        <div class="form-group">
                            <label class="col-sm-4 textchange" for="sel1">Address:</label>
                            <div class="col-sm-8">
                                <textarea rows="5" class="form-control" placeholder="Address" name="email" ng-model="data.reg_email" required></textarea>
                            </div>
                        </div><br>  
                    </div>
                    <!--Conditional Statements-->
                    <div ng-if="Jobpost.selectionType == 'off campus'">
                        <div class="form-group">
                            <label class="col-sm-4 textchange" for="sel1">Address:</label>
                            <div class="col-sm-8">
                                <label for="sel11">Job Role :</label>
                                    <textarea rows="5" class="form-control" placeholder="Job Role" name="email" ng-model="data.reg_email" required></textarea>
                            </div>
                        </div><br>
                    </div>
                    <!--company apply url-->
                    <div class="form-group">
                            <label class="col-sm-4 textchange" for="sel1">Company Url:</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" placeholder="Select type" name="email" ng-model="data.reg_email" required>
                                <span ng-show="myForm.email.$dirty && myForm.email.$invalid" style="color:red">
                                    <span ng-show="myForm.email.$error.required">Email is Reqired</span>
                                </span>
                            </div>
                    </div><br>
                     <!--Company Logo-->
                    <div class="form-group">
                            <label class="col-sm-4 textchange" for="sel1">Company Logo:</label>
                            <div class="col-sm-8">
                               <input type = "file" file-model = "myFile"/>
                                <span ng-show="myForm.email.$dirty && myForm.email.$invalid" style="color:red">
                                    <span ng-show="myForm.email.$error.required">Email is Reqired</span>
                                </span>
                            </div>
                    </div><br>
                    
                           
            </div>

                <!-- -------------submit----------------->
                <input type="submit" class="form-control" ><br>
                 <!-- -------------reset----------------->
                <input type="reset" ng-disabled="form.$pristine" ng-click="reset()" class="form-control">  
                     <div ng-if="Jobpost.sectortype == 'GovernmentSector'">
                    <div class="form-group">
                        <label class="col-sm-4 textchange" for="sel1">company url:</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" placeholder="Select type" name="email" ng-model="data.reg_email" required>
                            <span ng-show="myForm.email.$dirty && myForm.email.$invalid" style="color:red">
                                <span ng-show="myForm.email.$error.required">Email is Reqired</span>
                            </span>
                        </div>
                    </div>
                </div><br>
             </div> 
        </form>
      <!---------------------Data Dispaly Table--------------------------------------------->
    <div class="table-responsive" >
    <br>
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th> Title</th>
                <th>Company </th>
                <th> Experiance</th>
                <th> Location</th>
                <th>Keys kils</th>   
                <th>Salary</th>
                <th> Description</th>
                <th>Email</th>
                <th>Experiary </th>
                <th>Selection Type</th>
                <th> Url</th>
                <th> Logo</th>
            </tr>
            <tr ng-repeat="detail in details | filter:searchText  |orderBy : ' -p_id'| limitTo : 10 ">
                <td>
                    <button class="btn btn-primary" ng-click="editInfo(detail.p_id)" title="Edit">
                        <div>
                        {{CurrentDate | date: 'MMM-dd'}}
                        </div>
                        <div>
                        {{CurrentDate | date: 'shortTime'}}
                        </div>
                    </button>
                </td>
                <td>
                    <span>{{detail.p_id}}</span>
                </td>
                <td >{{detail.reg_name}}</td>
                <td>{{detail.reg_password}}</td>
                <td>{{detail.reg_email | limitTo:20}}</td>
                <td>
                    <img src="\AllGives Server\uploads\{{detail.myFile}}" class="img-thumbnail img-responsive" style="width:50px;height:50px;">
                </td>
                <td>
                    <button class="btn btn-warning" ng-click="editInfo(detail)" title="Edit" data-toggle="modal" data-target={{mymodal}}><span class="glyphicon glyphicon-edit"></span></button>
                </td>
                <td>
                <button class="btn btn-danger" ng-click="deleteInfo(detail.p_id)"  title="Delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                </td>
                <td>
                    <button class="btn btn-primary center" ng-disabled="{{ status}} > 0" ng-click="Activate(detail,detail.Activate)" title="Active"><span class="glyphicon glyphicon-plus"></span></button>
                </td>
            </tr>
        </table>
    </div>      
      
</div>