input.ng-invalid { background-color:pink;color:white;}
input.ng-valid {background-color:lightgreen;color:white;}
.Register { color:gray;}          
ul li a{ color:black !important;line-height:70px;}  
.image {
    width: 100%;
    height: 100%;    
}

    


 



   

